{
    "api": {
        "token": "0000000000:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "secret": "xxxx"
    },
    "hook": {
        "url": "https://example.com",
        "path": "/"
    },
    "tg": {
        "bot_id": 111111111,
        "owner_id": 2222222222,
        "bot_username": "@eeeeeeeeeee"
    },
    "sys": {
        "import_sys_envp": false,
        "worker_size": 8,
        "db_main_pool_conn_size": 4,
        "db_main_file": "./db.sqlite",
        "db_sched_pool_conn_size": 4,
        "db_sched_file": "./db_sched.sqlite"
    },
    "listen": {
        "host": "127.0.0.1",
        "port": 8007
    },
    "cmd_extern": {
        "api": "./extern/api",
        "root_dir": "./extern",
        "log_file": "./extern/log.txt"
    }
}